<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.css}"
          href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>계좌 목록</h2>
    </div>

<!--
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/items/add}'|"
                    type="button">상품 등록
            </button>
        </div>
    </div>
-->
    <form  method="get" class="form-inline">
    <div class="row">
        <div class="col">
            <input type="text" id="userId" name="userId" class="form-control" th:value="${userId}?: _" placeholder="유저 ID">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-secondary mb-2">검색</button>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/accounts/add}'|"
                        type="button">계좌 등록
                </button>
            </div>
        </div>
    </div>

    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>잔고</th>
                <th>계좌 타입</th>
                <th>예금 개설 일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td><a href="account.html" th:href="@{/accounts/{accountId}(accountId=${account.accountId})}" th:text="${account.accountId}">id</a></td>
                <td th:text="${account.depositBalance}">email</td>
                <td th:text="${account.accountType}">phoneNumber</td>
                <td th:text="${account.makeDate}">address</td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</html>